.loading{
  width: 200px;
  height: 200px;
  position: relative;
}
.loading::before,.loading::after{
  content:'';
  position: absolute;
  width:10px;
  height:10px;
  background: black;
  border-radius: 50%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  animation: s 1.5s linear infinite;
}
.loading::after{
  animation-delay: 0.7s;
}
@keyframes s{
  0%{
    width: 0; height:0;opacity:1;
  }
  100%{
    width: 100px; height:100px;opacity:0;
  }
}
